@import "bootstrap-sprockets";
@import "bootstrap";



/* universal */


.well { //this is for the div around group create new notificaition form
  margin-top: 20px; 
}

.unique {  
   background-color: #4d4a39;
}

html, body { 
  height:100%;
  margin: 0; 
  //background-color: #3f5c22;
  //height: 125vh;
  //background-image: url('background.jpg');
  //background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
}

#container {
  margin-top: 8%;
  min-height: 80%;
  //height: auto !important;
  //height: 100%;
  //margin: 0 auto [footer-height];
}

#push {
  height: [footer-height];
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Gotham Bold";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Gotham Medium";
}

li {
  font-family: "Gotham Medium";
  font-size: 1.5em;
  color: black; 
}

nav ul a {
  font-size: 1em !important; 
}

th {
 font-family: "Gotham Medium";
 font-size: 1.5em; 
}

tr td {
 font-family: "Gotham Medium"; 
 font-size: 1.2em;
}

/* header */
nav.navbar-material {
  background: #ffffff;
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
  background: white;
  height: 110px;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 90px;
  padding-left: 50px;

}
.navbar-material .nav-wrapper .button-collapse i {
  color: black;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}


/* footer */

footer {
  //margin-top: 60px;
  height: [footer-height];
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: #000000;
  background-color: #FFFFFF;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


/* debug  */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

 textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 10  !important;
  pointer-events: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Login Front page 
.card {
      margin-top: 10% !important;
      margin-left: 30% !important;
      left: 40%;
}*/


.btn-primary {
  margin-top:  10px;
}


