<footer class="footer">
  <small>
    <a href="http://www.Abilitree.org/">Abilitree.org</a>  
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li> <!-- the # symbol is called a 'stub' and is merely a placeholder -->
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>